<mat-drawer-container class="example-container">
    <a mat-sidenav-content routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-sidenav-content routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Liste des assignments</span>   
    </a>
    <a mat-sidenav-content routerLink="#" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
    </a>
</mat-drawer-container>