<app-nav-bar></app-nav-bar>

<div>
    <p>Bonjour Mr.Buffa,</p>
    <p>Voici le travail Angular réalisé par:<a href="https://www.linkedin.com/in/mohamed-aiman-benomar/"> Mohamed Aiman Benomar</a> et <a href="https://www.linkedin.com/in/ayman-lahjouji/"> Lahjouji Ayman</a>
    <p>
        Ce travail comporte les éléments demandés suivants:
        <p>- Authentification à l'aide de Json Web Tokens (JWT) en nous basant sur le tuto donné plus d'autre</p>
        <p>- Ajout de nouvelles propriétés au modèle des Assignments</p>
        <p>- Affichage dans un tableau Angular Material avec un header fixe</p>
        <p>- La possibilité d'ajouter un assignement dans les favoris</p>
        <p>- Les formulaires d'ajout et de détails proposeront un choix fixe de matières</p>
        <p>- Ajout d'un component pour naviguer en haut de la page étant donné que nous n'avons pas réussi à faire la pagination </p>
        <p>- Des pop-ups pour informer l'utilisateur de la connexion et la deconexion (toast)</p>
        <p>- Hébergement sur Heroku.com</p>
    <p>
        Ce projet est basé sur le code que vous nous avez fourni et les élément ajoutés sont presque tous bases sur les informations de 
        <a href="https://material.angular.io/">https://material.angular.io/</a>
        plus
        <a href="https://www.youtube.com/watch?v=5z0b1xXYZqE&list=PLJq8Yrm5l5dnHjLa71hrBvleiwce7mnVV&index=5"> Tuto youtube pour les favoris</a>
        et 
        <a href="https://dev.to/kevin_odongo35/jwt-authorization-and-authentication-node-express-and-vue-2p8c"> Tuto Authentification JWC node</a>
    </p>
</div>
